A 			{ color: #336666; text-decoration: none;} 
A:link		{ color: #A5BA10; text-decoration: none; } 
A:visited	{ color: #3F5300; text-decoration: none; } 
A:active	{ color: #9933CC;  } 
A:hover		{ color: #669999;  }

.innards { color:#A5BA10; }

h1 {
	font-size: 1.5em;
	margin: 0 0 1em 0;
	padding: 0px;
}
h2, h3 {
	margin: 0px;
	padding: 0px;
}
.blogbody {
  font-family:Verdana, Tahoma, Geneva, sans-serif;
  color:#111;
  font-weight:normal;
  line-height:140%;
}

.blogbody a,
.blogbody a:link,
.blogbody a:active,
.blogbody a:hover {
font-weight: normal;
text-decoration: none;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #A5BA10;
}

.blogbody a:visited {
  font-weight: normal;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #3F5300;
}

.blogbody a.special {
border-bottom: none;
}

.title, .title a	{
	font-family: verdana, arial;
	color: #3F5300;
	font-size: 1em;
	text-transform: uppercase;
	font-weight:bold;
	padding-top: 10px;
}			

img {
  border: solid 1px #3F5300;
}

img.noborder { border: none; }

.blogbody a.special img {
padding: 12px;
border: 1px solid #3F5300;
}

img.special {
padding: 12px;
border: 1px solid #333;
}

.imglist a:link { border-bottom-style: solid; }

.pictureP {
text-align: center;
}
.pictureP img {
margin: 2px;
}

.posted	{
font-family:Verdana, Tahoma, Geneva, sans-serif;
font-size: 0.9em;
color: #777;
padding-bottom: 2em;
}

#catForm {
  float: right;
}

#banner {
	font-family:"Eurostile Bold", Verdana, Tahoma, Geneva, sans-serif;
	color:#3F5300;
	font-weight:bold;
}
		
#banner a,
#banner a:link,
#banner a:visited,
#banner a:active,
#banner a:hover {
		text-decoration: none;
		color:#3F5300;
}

#banner a.description {
		color:#A5BA10;
}

.description {
	color:#A5BA10;
	font-size:0.7em;
	font-weight:normal;
	text-transform:none;
	font-family: "Arial Black", "Bauhaus 93", "Berlin Sans FB";
}	

blockquote {
	background-color: #F3FAC5;
	padding: .25em .5em .25em .5em;
	font-family: "Lucida Console", "Courier New", Courier, monospace;
}

.chatTranscript {
	background-color: #FFFFFF;
	padding: .25em .5em .25em .5em;
	font-family: Verdana, "Lucida Console", "Courier New", Courier, monospace;
	width: 50%;
	margin-left: 1em;
	line-height: 120%;
	border: 1px solid #3573D5;
	margin-bottom: .5em;
}

	.tagline {	
		font-family:Verdana, Tahoma, Geneva, sans-serif;
		color:#3F5300;
		font-size:x-small;
		font-weight:bold;
  		line-height:140%;				
		}	

.sep {
	margin-top:10px;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	margin-left: 30%;
	margin-right: 35%;
}

.picStory {
	padding-right: 18%;
	padding-left: 20%;
	margin-top: -10px;
}

.side {
	font-family:Verdana, Tahoma, Geneva, sans-serif;
	color:#666;
	font-size:0.9em;
	font-weight:normal;
	line-height:140%;				
}
		
.sidetitle {
	font-family:Verdana, Tahoma, Geneva, sans-serif;
	color:#999;
	font-size:x-small;
	font-weight:bold;
	line-height:140%;
	padding:2px;
	margin-top:10px;
	border-bottom:1px dotted #3F5300;
	text-transform:uppercase;
	letter-spacing: .2em;  					
}			

.syndicate {
	font-family:Verdana, Tahoma, Geneva, sans-serif;
	font-size:x-small;
	font-weight:bold;		
	line-height:140%;
	padding:2px;
	margin-top:10px;
	text-align:center;
}	
		
	.powered {
		font-family:Verdana, Tahoma, Geneva, sans-serif;
		color:#CCC;
		font-size:xx-small;
		font-weight:bold;
		border-top:1px dotted #3F5300;
		border-bottom:1px dotted #3F5300;		
		line-height:140%;
		text-transform:uppercase; 
		padding:2px;
		margin-top:10px;
		text-align:center;
		letter-spacing: .2em;
		background: #FFF; 					
		}	

	#commentArea {
		float:left;
		width:60%;
		margin-right:15px;
	}

	.comments-body {
		font-family:Verdana, Tahoma, Geneva, sans-serif;
		color:#666;
		font-size:.9em;
		font-weight:normal;
  		line-height:140%;
  		padding-bottom:10px;			
		}		

	.comments-post {
		font-family:Verdana, Tahoma, Geneva, sans-serif;
		color:#999;
		font-size:1em;
		font-weight:normal;	
    	margin-top:0px;		
		}	
		

	.comments-head	{ 
		font-family:Verdana, Tahoma, Geneva, sans-serif;
		font-size: small; 
		color: #999; 
		font-weight:bold;
		margin-top:10px;
		text-transform:uppercase;
		border-bottom:1px dotted #3F5300;		
		}		

	.archiveDate	{ 
		font-family:Verdana, Tahoma, Geneva, sans-serif; 
		font-size: small; 
		color: #3F5300; 
		font-weight:normal;
		text-transform:uppercase;
		margin-top:2em;		
		}	

	.menu {
	font-size:0.8em;
	font-weight:normal;
	font-family: Verdana, Arial, sans-serif;
	text-align: right;
	padding-top: 10px;
	width: 95%;
	}	


@charset "UTF-8";

/* Sprytree.css - Revision: Spry Preview Release 1.4 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/* This is the selector for the main tree container. For our default style,
 * we draw borders on the left, right, and bottom. The top border of the tree
 * will be rendered by the first treeTab which never moves.
 *
 * If you want to constrain the width of the tree widget, set a width on
 * the tree container. By default, our tree expands horizontally to fill
 * up available space.
 *
 * The name of the class ("tree") used in this selector is not necessary
 * to make the widget function. You can use any class name you want to style the
 * tree container.
 */
.tree {
	overflow: hidden;
	margin-top: 10px;
}

/* This is the selector for the treePanel container which houses the
 * panel tab and a panel content area. It doesn't render visually, but we
 * make sure that it has zero margin and padding.
 *
 * The name of the class ("treePanel") used in this selector is not necessary
 * to make the widget function. You can use any class name you want to style an
 * tree panel container.
*/
.treePanel {
	margin: 0px;
	padding: 0px;
}

/* This is the selector for the treeTab. This container houses
 * the title for the panel. This is also the container that the user clicks
 * on to open a specific panel.
 *
 * The name of the class ("treeTab") used in this selector is not necessary
 * to make the widget function. You can use any class name you want to style an
 * tree panel tab container.
 */
.treeTab {
	margin: 0px;
	padding: 2px;
	cursor: pointer;
	color: #666;
	font-weight: bold;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.treePanelContent {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.treePanelContent li {
	list-style: none;
}

.treePanelContent ul {
	margin: 0 6px 6px 6px;
	padding: 2px 0;
}

.treePanelOpen .treeTab {
	color: #3F5300;
}

.treeTabHover {
	color: #FFFFFF;
}
.treePanelOpen .treeTabHover {
	color: #FFFFFF;
}

/*
.treeFocused .treeTab {
	background-color: #3F5300;
	color: #FFF;
}

.treeFocused .treePanelOpen .treeTab {
	background-color: #A5BA10;
	color: #FFF;
}
*/
.SpryHiddenRegion {
	visibility: hidden;
}

table.stripedTable {
  border: 1px solid #333;
  border-collapse: collapse;
  border-spacing: 0;
}

.stripedTable th,
.stripedTable td {
	padding: 6px 8px;
	vertical-align: top;
}

.stripedTable th {
	background-color: #3F5300;
	color: #FFF;
	text-align: left;
}

.stripedTable tr.odd {
	background-color: #F3FAC5;
}

.sarcasm {font-style: italic; padding-left: 14px;}